VCCAUX = 3.3;

NET "clk" LOC = "L15" | PERIOD = 100 MHz;

NET "reset" LOC = "F5" | IOSTANDARD = LVCMOS33;

NET "buttonR" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "buttonL" LOC = "T4" | IOSTANDARD = LVCMOS33;
NET "buttonU" LOC = "V9" | IOSTANDARD = LVCMOS33;
NET "buttonD" LOC = "V4" | IOSTANDARD = LVCMOS33;

NET "btnR" LOC = "N5"| IOSTANDARD = LVCMOS33;
NET "btnL" LOC = "P6"| IOSTANDARD = LVCMOS33;
NET "btnU" LOC = "R3"| IOSTANDARD = LVCMOS33;
NET "btnD" LOC = "T3"| IOSTANDARD = LVCMOS33;