VCCAUX = 3.3;

NET "clk" LOC = "L15" | PERIOD = 100 MHz;

NET "reset" LOC = "F5" | IOSTANDARD = LVCMOS33;

NET "buttonR" LOC = "F6" | IOSTANDARD = LVCMOS33;
NET "buttonL" LOC = "P4" | IOSTANDARD = LVCMOS33;
NET "buttonU" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "buttonD" LOC = "P3" | IOSTANDARD = LVCMOS33;

NET "btnR" LOC = "T3"| IOSTANDARD = LVCMOS33;
NET "btnL" LOC = "R3"| IOSTANDARD = LVCMOS33;
NET "btnU" LOC = "P6"| IOSTANDARD = LVCMOS33;
NET "btnD" LOC = "N5"| IOSTANDARD = LVCMOS33;